* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(26, 243, 185), rgb(94, 198, 239));
}

.container {
    background-color: hotpink;
    /* padding: 120px; */
    height: 25em;
    width: 26em;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 15px 15px 15px rgb(22, 42, 42);
}
.input{
    display: flex;
    margin:3%;
}
.input>i{
    position: relative;
    left: -25px;
    top:13px;
    cursor:pointer;
    color:hotpink;
    font-size: 18px;
}
i{
    font-size: 20px;
}
#box {
    background-color: white;
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
}

.types {
    color: white;
    font-size: 18.4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 13px;
    margin-top: 2%;
}

button {
    color: white;
    background-color: rgba(0, 255, 255, 0.508);
    box-shadow: 5px 5px 15px rgb(57, 238, 238);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border:2px solid white;
    cursor: pointer;
}
button:hover{
    scale: 1.05;
}

.up{
    display: flex;
    gap: 52px;
}
.lw{
    display: flex;
    gap: 58px;
}
.num{
    display: flex;
    gap: 64px;
}
.sp{
    display: flex;
    gap: 42px;
}